.header{
    width: 100vw;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    z-index: 0;
}
.header-left{
    float: left;
}
.header-mid{
    display: inline-block;
    margin: 20px auto;
    letter-spacing: 2px;
    font-weight: 700;

}
.header-right{
    float: right;
}
.header-button{
    font-weight: 500;
    letter-spacing: 3px;
    display: inline-block;
    margin: 20px;
    position: relative;
    
}
.header-button:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: black;
    bottom: 0;
    left: 2.5%;
    transition: 0.3s;
}
.header-button:hover::after{
    width: 90%;
}